.button {
  display: block;
}

.button--hidden {
  display: none;
}



.text-bold {
  font-weight: 900;
}
.text-secondary {
  color: #6c757d;
}
.color-red {
  color: #ff0000;
}

.text {
  font-size: 14px;
}

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}