* {
  box-sizing: border-box;
}

:root {
  --content-max-width: 1110px;
  --nav-height:60px;
  --color-primary:#37447E;
  --main-blue-500: #505F98;
  --main-blue-800: #111B47;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-image {
  min-height: 100vh;
  background-image: url(./bg-hero.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.max-width {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - var(--nav-height));
}

.content {
  flex: 1;
}


.navbar {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

